body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  color: #333;
}

.home{
  position: relative; /* WAJIB */
  background-image: url("humas.jpeg");
  background-size: cover;
  background-position: center;
  min-height: 78vh;
  padding: 25px;
}
  /* posisi di tengah */




.btn-home {
  position: absolute;
  top: 20px;
  left: 20px;

  width: 45px;
  height: 45px;
  background: rgba(0, 0, 0, 0.6);
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
}

.btn-home:hover {
  background: rgba(0, 0, 0, 0.85);
  transform: scale(1.05);
}



.home1{
    background-size: cover;
    max-height: max-content;
    object-fit: cover;
}


.home1 h1, .home1 h3 {
  margin: 0;
  padding: 0;
}

.ruangtamu{
    margin-top: 0;
    padding-top: 60px;
    text-align:center;
    font-family:serif;
    font-size: 20px;
    color: rgb(83, 186, 218);
}

.ruangtamu1{
    margin-top: 0;
    text-align:center;
    font-family: serif;
    font-size: 25px;
    color: rgb(71, 127, 231);
}

.ruangtamu2{
    margin-top: 0;
    padding-top: 30px;
    text-align:center;
    font-family: serif;
    font-size: 15px;
    color: rgb(59, 70, 92);
}

.daftar{
max-height: max-content;
    object-fit: cover;
}

.ruangatas{
  margin-top: 0;
  padding-top: 53px;
    text-align:center;
    font-family:serif;
    font-size: 20px;
    color: rgb(19, 14, 14);
}

.ruangatas1{
  margin-top: 0;
    padding: 5px;
    text-align:center;
    font-family:serif;
    font-size: 20px;
    color: rgb(17, 12, 12);
}

.row {
  display: flex;
}

/* KIRI */
.row.left {
  justify-content: flex-start;
  text-align: left;
}

/* KANAN */
.row.right {
  justify-content: flex-end;
  text-align: right;
}

/* KONTEN */
.content {
  width: 55%;
  
  padding: 30px;
  border-radius: 16px;
  
}

/* TEXT */
.content h2 {
  margin-bottom: 12px;
  font-size: 26px;
  color: #1e3a8a;
}

.content p {
  font-size: 16px;
  line-height: 1.7;
  color: #444;
}


@media (max-width: 768px) {
  .about-text {
    padding: 40px 20px;
  }

  .row.left,
  .row.right {
    justify-content: center;
    text-align: center;
  }

  .content {
    width: 100%;
  }
}