body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  color: #333;
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px 60px;
    background: white;
}

/* LOGO KIRI */
.nav-logo img {
    height: 100px;
}

/* MENU BENAR-BENAR DI TENGAH LAYAR */
.nav-menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    gap: 35px;
    list-style: none;
}

/* LINK */
.nav-menu a {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    color: #1f2937;
    padding-bottom: 6px;
    position: relative;
}

/* UNDERLINE */
.nav-menu a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #429be4;
    transition: 0.3s;
}

.nav-menu a:hover::after,
.nav-menu a.active::after {
    width: 100%;
}

.nav-menu a.active {
    color: #2e81cf;
}